* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    color: inherit;
    text-decoration: none;
}

body {
    background-color: #eee;
    color: #4e4544;
    font: normal 16px sans-serif;
}

/* Page Layout */

.container_flights_list{
    max-width: 1200px;
    background-color: #fff;
    margin: 0 auto;
    padding: 0 60px;
    display: flex;
    flex-direction: column;
    /*background-image: url("plane_banner.jpg");
    background-size: cover;*/
}
.table{
    margin: auto;
     border-radius: 5px 5px 5px 5px;
     border-collapse: collapse;
}
.table_field{
     
}
.text_passenger_color{
    color: #ef5350;
    margin: 10px;
}
.baggage_img{
    color: #ef5350;
    margin: auto;
    max-height: 250px;
    max-width: 600px;
}

/* Header */

header{
    color: #ef5350;

    padding: 20px 0;
    margin-bottom: 20px;

    display: flex;
    justify-content: space-between;
}

header nav {
    list-style: none;
    
    display: flex;
    align-items: baseline;
}

header nav li {
    margin-right: 15px;
}

header button {
    background-color: #ef5350;
    border: none;
    border-radius: 2px;
    padding: 8px 25px;
    color: #fff;
    cursor: pointer;
    text-transform: uppercase;
}


/* Main Section */

.main-and-sidebar-wrapper {
    display: flex;
    margin: auto;

    

}
.completed {
    /*max-width: 600px;*/
    width: 50%;
    height:  50%;
    margin: auto;

}
.er {
    /*max-width: 600px;*/
    width: 50%;
    height:  50%;
    

}

.main { /*главный контейнер*/
    text-align: center;
    /*margin-right: 60px;*/
    /*background: url(images/hand.png);*/
    width: 600px;
    flex: 3;
    margin: auto;   
}

.main h2 {
    font-size: 42px;
    margin-bottom: 25px;
}

.main p { /*отступы он нижней части текста p*/
    margin-bottom: 30px;
}

.main img {
    width: 100%;
}



footer {
    color: #ef5350;
    text-align: center;
    padding: 20px 0;
    margin-bottom: 10px;

}

footer p {
    color: #777;
    font-size: 12px;
    padding: 10px;
}


@media (max-width: 600px) {
    .main-and-sidebar-wrapper {
        flex-direction: column;


    }

    .main {
        margin-right: 0;
        margin-bottom: 60px;

    }
}
.modal {
        display: none; /* Hidden by default */
        position: fixed; /* Stay in place */
        z-index: 1; /* Sit on top */
        padding-top: 100px; /* Location of the box */
        left: 0;
        top: 0;
        width: 100%; /* Full width */
        height: 100%; /* Full height */
        overflow: auto; /* Enable scroll if needed */
        background-color: rgb(0,0,0); /* Fallback color */
        background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    }

    /* Modal Content */
    .modal-content {
        background-color: #fefefe;
        margin: auto;
        padding: 20px;
        border: 1px solid #888;
        border-radius: 10px;
        width: 30%;
    }

    /* The Close Button */
    .close {
        color: #aaaaaa;
        float: right;
        font-size: 48px;
        font-weight: bold;
    }

    .close:hover,
    .close:focus {
        color: #000;
        text-decoration: none;
        cursor: pointer;
    }
}

*/
.field {
    clear:both;
    text-align:left;
    line-height:25px;

}
.input_field{
    padding-top: 5px;
    padding-bottom: 10px;
}
label {
    float:left; padding-right:20px;

}
.main1 {
    float: left;
}
.input_fields{
    margin: auto;
    padding-bottom: 20px;
     margin-right: 10px;
        margin-bottom: 10px;
}


.auth {
    clear:both; text-align:right; line-height:25px; 
    /*border:1px solid #9E9E9E;*/
        border-radius: 3px; //закругление углов (общее)
       -webkit-border-radius: 3px; //закругление углов (Google Chrome)
       -moz-border-radius: 3px; //закругление углов (FireFox)
       -khtml-border-radius: 3px; //закругление углов (Safari)
}
label {
    float:left; padding-right:10px;
}
.auth1 {
    float:left
}
.auth_button {
    margin: auto;

}
.popupText{

}




